<!DOCTYPE html>
<html>
<head>
  <%- include ./partials/head %>
  <title>Parent</title>
</head>
<body>

<div class="container">
  <h2>Parents</h2>
  <p>Tabel Bayi</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tanggal Lahir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
