<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
    <title>Parent</title>
    <meta charset="utf-8">
    <title>Update Vaksin Bayi</title>
  </head>
  <body>
    <h1>Detail Bayi Yang Sudah Divaksin</h1>
  </body>
</html>
